<div id="home">
        <div class="slider-active owl-carousel">
            <div class="single-slider">
                <div class="slider-title" style="background-image:url(assets/images/Corporate/Images/HeroImg.jpg);">
                 <div class="text-block-corp"> 
				  
				  <div class="col-sm-6 col-sm-offset-3 text-howit-corp">
                    <h2>The Beauty and wellness initiative</h2>

				  <p>Rederra is the smart way to get pampaered by connecting you buaty and welness propetionals in your neighberhood. </p>
				  </div>
			      <div class="col-sm-6 col-sm-offset-3">
                   <button class="btn-primary join-btn">join now</button>
				   </div>
			   </div>
            </div>
            
            
        </div>
       <!-- <div class="go-bottom"> <a href="#about-us" class="mouse"><i class="fa fa-angle-double-down"></i></a> </div>-->
    </div>
    <!--/End Header -->
    
   
        <!--Our service section -->
    <section id="our-service" class="service-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                     <div class="section-title wow fadeInDown">
                        <h1>How Appointmet Work</h1>
                        <div class="section-borders"> <span></span> <span></span> <span></span> </div>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="service-wrap">
				 <div class="col-sm-10 col-sm-offset-2">
                   <div class="col-md-2 col-sm-6">
                        <div class="single-service-box wow fadeIn" data-wow-duration="2s">
							 <div class="how-appo-item"> 
							    <img src="assets/images/Corporate/PNG/StressIcon.png" alt=""> 
						     </div>
                            <div class="how-work-text"> 
                           
                            <h3>Reduce Stress</h3>
                           
							</div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="single-service-box wow fadeIn" data-wow-duration="2s">
							 <div class="how-appo-item"> 
							    <img src="assets/images/Corporate/PNG/MoraleIcon.png" alt=""> 
						     </div>
                            <div class="how-work-text"> 
                           
                            <h3>Increase Morale</h3>
                           
							</div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="single-service-box wow fadeIn" data-wow-duration="2s">
							 <div class="how-appo-item"> 
							    <img src="assets/images/Corporate/PNG/ConfidenceIcon.png" alt=""> 
						     </div>
                            <div class="how-work-text"> 
                           
                            <h3>Increase Confidence</h3>
                           
							</div>
                        </div>
                    </div>
					<div class="col-md-2 col-sm-6">
                        <div class="single-service-box wow fadeIn" data-wow-duration="2s">
							 <div class="how-appo-item"> 
							    <img src="assets/images/Corporate/PNG/CreativityIcon.png" alt=""> 
						     </div>
                            <div class="how-work-text"> 
                           
                            <h3>Increase Creativity</h3>
                           
							</div>
                        </div>
                    </div>
					<div class="col-md-2 col-sm-6">
                        <div class="single-service-box wow fadeIn" data-wow-duration="2s">
							 <div class="how-appo-item"> 
							    <img src="assets/images/Corporate/PNG/ProductivityIcon.png" alt=""> 
						     </div>
                            <div class="how-work-text"> 
                           
                            <h3>Increase Productivity</h3>
                           
							</div>
                        </div>
                    </div>
                   
                    </div>
                    
                </div>
            </div>
			
            
        </div>
    </section>
    <!--/End Our service section -->
      <!--Our service section -->
    <section id="our-service" class="service-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                     <div class="section-title wow fadeInDown">
                        <h1>See What's Popular</h1>
                        <div class="section-borders">  </div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="service-wrap">
				 <div class="col-sm-10 col-sm-offset-1">
                    <div class="col-sm-3 less-padding">
					
                    <div class="our-team wow fadeIn" data-wow-duration="2s" data-wow-delay=".1s">
					   
                        <div class="team-img"> <img src="assets/images/Corporate/Images/NailBar.jpg">
                           
                        </div>
                        <div class="cor-info-bar">
                            <span class="cor-title">Nail Bar</span> 
							<p>Men's Clean Up Cut<br>Women's blow out</p> 
						</div>
                    </div>
                    </div>
                    <div class="col-sm-3 less-padding">
                    <div class="our-team wow fadeIn" data-wow-duration="2s" data-wow-delay=".1s">
					   
                        <div class="team-img"> <img src="assets/images/Corporate/Images/WellnessBar.jpeg">
                           
                        </div>
                       <div class="cor-info-bar">
                            <span class="cor-title">Wellness Bar</span> 
							<p>Chaire Message<br>Mini Facial</p> 
						</div>
                    </div>
                </div>
                    <div class="col-sm-3 less-padding">
                    <div class="our-team wow fadeIn" data-wow-duration="2s" data-wow-delay=".1s">
					
                        <div class="team-img"> <img src="assets/images/Corporate/Images/BeautyBar.jpg">
                            
                        </div>
                        <div class="cor-info-bar">
                            <span class="cor-title">Beauty Bar</span> 
							<p>Mini Make Up<br>Blow Shaping</p> 
						</div>
                    </div>
                </div>
                   <div class="col-sm-3 less-padding">
                    <div class="our-team wow fadeIn" data-wow-duration="2s" data-wow-delay=".1s">
					
                        <div class="team-img"> <img src="assets/images/Corporate/Images/HairBar.jpg">
                            
                        </div>
                        <div class="cor-info-bar">
                            <span class="cor-title">Hair Bar</span> 
							<p>Men's Clean Up Cut<br>Women's blow out</p> 
						</div>
                    </div>
                </div>
                 </div>   
                    
                </div>
            </div>
        </div>
    </section>
   