<!-- Navigation bar -->


<!-- section FAQS -->
<section>
  <div class="container">
    <div class="row">
      <div class="accordion-box faqs">
        <div class="panel-heading">
          <div class="panel-title page-header border-none">
            <h2 class="faqsh">FAQS </h2>
          </div>
        </div>
        <div class="panel-group" id="accordion">
          <!--PROFESIONALS-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title page-header">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <h1>PROFESIONALS </h1>
                </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="form-row">
                <div class="container">
                  <h5>What skincare and makeup products do Reddera’s Professionals use?</h5>

                  <p>Reddera’s professional use a wide array of high quality products. Since Reddera’s professionals
                    work independently on our marketplace, they use their own products, although Reddera does suggest
                    certain premium brands that we are sponsored with. Per request, professionals can use your own
                    products. </p>
                  <h5>Who are the Reddera Professionals and how are they vetted?</h5>

                  <p>Our professionals come from everywhere and have a variety of diverse backgrounds and experience in
                    the beauty and wellness community. From top beauty schools to high-end salons to work with
                    celebrities and in the media, our professionals are a colorful bunch! The one thing they all have in
                    common is that they're fully vetted people right in your community and have a passion for beauty and
                    wellness services. Each Reddera professional goes through a multi-step vetting process that includes
                    an application, interview, federal and local criminal background check, and training sessions. </p>
                  <h5>What if I’m allergic to specific products?</h5>

                  <p>If you have an allergy or sensitivity to any specific product, you have the option to leave a note
                    for your professional during the booking process to notify them of any issues you may have.
                    Hypoallergenic products are also available. </p>
                  <h5>Can I request a specific professional?</h5>

                  <p>Of course! That’s the beauty of Reddera. We implement rigorous screening and training and guarantee
                    excellence and consistency from every professional on our platform.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- APPOINTMENTS-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title page-header">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  <h1>APPOINTMENTS </h1>
                </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
              <div class="form-row">
                <div class="container">
                  <h5>How do I get ready for the appointment?</h5>

                  <p>To expedite your appointment, for hair and make-up we ask that all clients be ready with a clean
                    face and wet hair (if required) when the professional arrives.  For in-office appointments, our
                    artists can lightly clean the skin and dampen hair as needed, unless dry styling is requested to
                    accomplish your desired look. For massages, we asks that the client is previously showered. Nails
                    and waxing no worries, we have the proper materials to remove polish, as well as wet wipes for face
                    and body. </p>
                  <h5>How long will my appointment last?</h5>

                  <p>Reddera professionals set the duration of their appointments, but they typically last between 30-90
                    minutes. Times vary depending on what you request, but every time duration is listed in the service
                    you book.</p>
                  <h5>What if I am running late?</h5>

                  <p>Running late happens sometimes so we encourage clients to let the stylist know asap. We allow for a
                    15 minute grace period if you are running late. If you want to reschedule your appointment, you can
                    up to 24 hours before your appointment free of charge. <br/>
                    If you are late beyond the 15 minute grace period, it is at the discretion of your professional on
                    whether they can complete the service in the remaining time.  </p>
                  <h5>Can I make an appointment directly with an professional, outside of Reddera?</h5>

                  <p>Unfortunately, no.  We do not permit our professionals to contact Reddera clients directly and
                    it is company policy to terminate membership for clients who attempt to secure the services of a
                    professional outside of Reddera. We can only ensure a safe and secure appointment for both clients
                    and professionals when booked through Reddera’s platform. </p>
                  <h5>I need to cancel my appointment.  What is your refund policy?</h5>

                  <p>Travelling is a large part of the Reddera professionals work so it is critical that cancellation is
                    done within a reasonable timeframe. Cancellations up to 24 hours before your appointment are free of
                    charge. Cancellations between 24 -12 hours of the appointment will be charged 25% of the service
                    cost. Cancellations between12 - 6 hours before the appointment are charged 50% of the service cost.
                    Cancellations less than 6 hours before the appointment will be charged the full appointment fee.
                     Appointment locations cannot be changed without advanced notice and approval from Reddera. </p>
                </div>
              </div>
            </div>
          </div>
          <!-- SERVICES-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title page-header">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  <h1>SERVICES </h1>
                </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in">
              <div class="form-row">
                <div class="container">
                  <h5>What type of services can I request?</h5>

                  <p>We offer services in hair, make-up, nails, hair removal, massage, threading, and facials. We try to
                    cover just about everything beauty and wellness. </p>
                  <h5>Can I book more than one service? </h5>

                  <p>Yes! You can book more than one service, such as booking two hair appointments back to back for you
                    and a friend. You can also book two appointments at the same time from different professionals such
                    as a man-pedi and a hair stylist, or two hair stylists for you and a friend.</p>
                  <h5>What if I don’t like my service?</h5>

                  <p>We try our best to make sure customers are satisfied, but if you don’t like the service, let the
                    Reddera professional know and they will do their best to fix it for you. If you aren’t satisfied
                    after the appointment please do not hesitate to contact Reddera customer service at
                    support@reddera.com. </p>
                  <h5>You don’t offer services in my area, how can I get Reddera to my hometown?</h5>

                  <p>We're glad you're excited about Reddera and we can't wait to get to your town. Request Reddera on
                    behalf of your city by contacting locations@reddera.com. You can also spread the Reddera love by
                    following us on Twitter and IG @Reddera and liking us on Facebook /GoReddera. </p>
                  <h5>How much does a Reddera service cost? </h5>

                  <p>Reddera professionals set the price of their services, so prices vary based on the professional and
                    type of service. </p>
                  <h5>How does payment work? </h5>

                  <p>You pay securely and easily through Reddera.com. We hold your credit card information at the time
                    of booking and don’t charge you until after your service is complete. Your total Reddera service
                    charge includes the Reddera professional's service cost, Reddera’s service fee and sales tax. If
                    you're particularly impressed with the service a Reddera professional has done, consider adding
                    gratuity or tipping them at the time of the service. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- footer -content-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
