   <div id="home">
        <div class="slider-active owl-carousel">
            <div class="single-slider">
                <div class="slider-title img-responsive" style="background-image:url(assets/HowItWorks/Hero-Img.jpg);" >
                 <div class="text-block"> 
				 <div class="col-sm-4">
				  <img class="upimg-howit" src="assets/images/HowItWorks/iPhoneApp.png" />
				  </div>
				  <div class="col-sm-6 text-howit"> <p>Rederra is the smart way to get pampaered by connecting you buaty and welness propetionals in your neighberhood. </p></div>
			   </div>
            </div>
           
        </div>
       <!-- <div class="go-bottom"> <a href="#about-us" class="mouse"><i class="fa fa-angle-double-down"></i></a> </div>-->
    </div>
    <!--/End Header -->
    <!--About Us section -->
    <section id="about-us" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div class="section-title wow fadeInDown">
                        <h1>How It Works</h1>
                        <div class="section-borders">  </div>
                        <p>
							
						</p>
                    </div>
                </div>
            </div>
            <div class="row">
                  <div class="col-md-4 col-sm-6">
                        <div class="col-sm-5">
							<div class="circle-num"><span>1</span></div>
							<div class="circle-title"><span> Pick Service And Time</span></div>
						</div>
			
						<div class="col-sm-7">
							
							<div>
							  <img src="assets/images/HowItWorks/1_0.jpg" class="img-responsive img-circle" alt="img"/>
							</div>
							
						</div>
                   </div>
					
					<div class="col-md-4 col-sm-6">
                        <div class="col-sm-5">
							<div class="circle-num"><span>2</span></div>
							<div class="circle-title"><span> Choose Pro And Location</span></div>
						</div>
			
						<div class="col-sm-7">
							
							<div>
							  <img src="assets/images/HowItWorks/1_1.jpg" class="img-responsive img-circle" alt="img"/>
							</div>
							
						</div>
                   </div>
					<div class="col-md-4 col-sm-6">
                        <div class="col-sm-5">
							<div class="circle-num"><span>3</span></div>
							<div class="circle-title"><span> Get Pampered On Demand</span></div>
						</div>
			
						<div class="col-sm-7">
							
							<div>
							  <img src="assets/images/HowItWorks/GetPampered.png" class="img-responsive img-circle" alt="img"/>
							</div>
							
						</div>
                   </div>
                
            </div>
        </div>
    </section>
    <!--About Us section -->
    <section id="about-us" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 single-about-item" style="background-image:url(assets/images/HowItWorks/VettedProImage.jpg)">
                   
                        
							
							<div class="col-md-6 col-sm-offset-6">
							<div class="about-icon-r">
								<img src="assets/images/HowItWorks/PNG/TrustIcon.png" alt="" class="about-icon-r"> 
							</div>
							<div class="about-text-r">
                               <p>Our Professionals are thoroughly vetted for talent and expertise.</p> 
					        </div>
				           </div>
				       
                </div>
                
            </div>
			<div class="row">
                <div class="col-md-12 single-about-item" style="background-image:url(assets/images/HowItWorks/FriendsImg.jpg)">
                   
                        
							
							<div class="col-md-6">
							<div class="about-icon-lf">
								<img src="assets/images/HowItWorks/PNG/TimeIcon.png" alt="" class="about-icon-lf"> 
							</div>
							<div class="about-text-lf">
                               <p>
							    Say goodbye to lost time 
traveling by having a 
Professional come to you.
						        </p> 
					        </div>
				           </div>
				       
                </div>
                
            </div>
			
			
        </div>
    </section>
    <!--About Us section -->
        <!--Our service section -->
    <section id="our-service" class="service-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                     <div class="section-title wow fadeInDown">
                        <h1>How Appointmet Work</h1>
                        <div class="section-borders"> <span></span> <span></span> <span></span> </div>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="service-wrap">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service-box wow fadeIn" data-wow-duration="2s">
							 <div class="how-work-item"> 
							    <img src="assets/images/HowItWorks/PNG/CashFreeIcons.png" alt=""> 
						     </div>
                            <div class="how-work-text"> 
                            <h3>Cash Free</h3>
                           
                            <p>Payments are processed securely online 
once your booking is complete.
</p>
							</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service-box wow fadeIn" data-wow-duration="2s" data-wow-delay=".1s">
							<div class="how-work-item"> 
							    <img src="assets/images/HowItWorks/PNG/CancelIcons.png" alt=""> 
						    </div>
							<div class="how-work-text"> 
                            <h3>Need to Cancel? No Problem.</h3>
                           
                            <p>You may cancel your appointment within 24 
hours of your booking, without a fee. 
See our FAQs for more details.
</p>
							</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service-box wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">
							
                           <div class="how-work-item"> 
							    <img src="assets/images/HowItWorks/PNG/MemberServicesIcons.png" alt=""> 
						     </div>
							  <div class="how-work-text"> 
                            <h3>Member Services</h3>
                           
                            <p>We provide Member Services support to 
ensure our satisfaction guarantee.
</p>
							</div>
                        </div>
                    </div>
                   
                    
                    
                </div>
            </div>
			<div class="row">
                <div class="col-md-12 single-about-item" style="background-image:url(assets/images/HowItWorks/TheRedderaGuaranteeImg.jpg)">
                   <div class="col-md-6 col-sm-offset-6">
                         <h3>The Reddera Guarantee</h3>
						
						<div class="col-md-6">
							<div class="about-icon">
							 <img src="assets/images/HowItWorks/PNG/HeartIcon.png" alt=""> 
						     </div>
							<div class="about-text-t">
							<p>Your satisfaction means the 
world to us. We strive to impress 
at every booking.
							</p> 
						   </div>
					   </div>
						<div class="col-md-6">
							<div class="about-icon">
							<img src="assets/images/HowItWorks/PNG/BadgeIcon.png" alt="">
                            </div>							
                            <div class="about-text-b">
                             <p>Our professionals receive our badge for exceeding 
performance expectations.
						     </p> 
					       </div>
					   </div>
					   
				   </div>
					
                    
                </div>
                
               </div>
            
        </div>
    </section>