/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.searchresult.carousel {
	margin-bottom: 0;
}
.searchresult .price-info {
	left: 0;
}
.carousel-control.left {
	background-image: none;
}
.carousel-control.right {
	background-image: none;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
	background: #333333;
}
/* GLOBAL STYLES -------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
	padding-right: 0;
	padding-left: 0;
}
.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-wrapper .navbar .container {
	width: auto;
}
.navbar-default {
	border: none;
}
.navbar {
	border: 1px solid rgba(0, 0, 0, 0);
	margin-bottom: 0px;
	min-height: 50px;
	position: relative;
	padding: 26px 0px;
}
.navbar-right {
	margin: 0px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* HEADING */
.hide-bullets {
	list-style: none;
	margin-left: -40px;
	margin-top: 20px;
}
.thumbnail {
	padding: 0;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 100%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
/* Navbar positioning foo */
.navbar-wrapper {
	margin-top: 20px;
}
.navbar-wrapper .container {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-wrapper .navbar {
	padding-right: 0;
	padding-left: 0;
}
/* The navbar becomes detached from the top, so we round the corners */
.navbar-wrapper .navbar {
	border-radius: 4px;
}
}
@media (min-width: 992px) {
}
