<!--
<p>Welcome <%#= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%#= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

&lt;!&ndash;

<div class="container">
  <div class="panel panel-default"style="width:50%">
    &lt;!&ndash; Default panel contents &ndash;&gt;
    <div style="text-align: center;margin-top: 10px"> <img src="<%#=asset_path('logo.png')%>"></div>
    <div class="panel-body">
      <div class="well"><h4>Hi <%#= @email %>,</h4>
        <h6>Welcome to Reddera! In order to get started,you need to confirm your email address.</h6>
        <button class="btn-confirm btn btn-small btn-primary mail-btn">Confirm My Account
        </button>
        <%#= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token),:class=> "btn-confirm btn btn-small btn-primary mail-btn"%>
        <h6>Thanks,</h6>
        <h6>The Reddera Team</h6>
      </div>
    </div>
  </div>
</div>&ndash;&gt;
-->



<div style="background:#c92a5c; padding:6px; width:600px; margin:0px auto;">
  <div style="margin:0px auto; width:auto; height:auto; background:#fff; border:solid 1px #f2f2f2; padding:25px;">
    <table width="" border="0" cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:24px; ">
      <tr>
        <td><P align="center"><img class="transparent" src="https://ucarecdn.com/6634bebf-572f-4de0-ae64-48f013916cc9/Reddera_logo.png" alt="https://i.imgsafe.org/8ef4375dbb.png" style="width:239px">
        </P></td>
      </tr>
      <tr>
        <td><p> <font color="black">Hi <%= ApplicationController.helpers.getuserName(@email) %>, </font></p>
          <p><font color="black"> Welcome to Reddera! In order to get started, you need to confirm your email address.</font> </p>
          <div align="center">
            <p><font color="black"><%= link_to 'Confirm Email', confirmation_url(@resource, confirmation_token: @token),:style=>"background:#c82b5b; border: medium none; color:#fff; font-size:20px; padding:10px 30px;text-decoration: none;"%></font></p>

          </div>

          <p><font color="black"> <strong>Thanks,<br/>
            The Team Reddera</strong></font> </p>

      </tr>
    </table>
  </div>
</div>

